body {
    font-family: 'serif'; /* Gunakan font keluarga serif */
    background-color: #22223B;
    color: #4A4E69;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #9A8C98; /* Warna latar header */
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .profile-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Frame lingkaran untuk foto profil */
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-links a {
    padding: 5px 10px;
    border: 2px solid #C9ADA7; /* Frame luar dengan rounded */
    border-radius: 20px;
    color: #F2E9E4; /* Warna teks */
    text-decoration: none;
  }
  
  .social-links a:hover {
    background-color: #C9ADA7; /* Warna latar saat hover */
    color: #22223B; /* Warna teks saat hover */
  }
  
  .tools {
    margin-top: 20px;
    text-align: center;
  }
  
  .tools a {
    padding: 10px 20px;
    background-color: #C9ADA7;
    color: #22223B;
    border-radius: 20px;
    text-decoration: none;
  }
  
  .tools a:hover {
    background-color: #F2E9E4;
    color: #4A4E69;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  .bubble {
    position: absolute;
    background-color: #9A8C98; /* Warna bubble */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none; /* Agar bubble tidak mengganggu interaksi mouse */
    animation: bubbleAnim 2s ease-out;
  }
  
  @keyframes bubbleAnim {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
    